* {
  font-family: "ADLaM Display", cursive;
  font-size: 28px;
}

body,
form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

body {
  align-items: center;
}

h1 {
  margin: 0;
  font-size: 80px;
}

input:focus {
  outline: none;
}

#player-one {
  box-shadow: 4px 4px 0px #635994;
}

#player-two {
  box-shadow: 4px 4px 0px #f92f60;
}

form button,
.winner button {
  text-decoration: underline;
}

form button,
.replay {
  align-self: center;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.player {
  text-align: center;
}

.board {
  display: grid;
  grid-template: repeat(3, 100px) / repeat(3, 100px);
  width: min-content;
  gap: 10px;
}

.board button {
  background-color: white;
  border: none;
  font-size: xxx-large;
}
